a{
    margin: auto;
    text-decoration: none;
}
.menu-btn{
    color: white;
}
#container{
    display: flex;
    background-color: powderblue;
    color: white;
    
}
.item{
    margin: 5px;
}
#content{
    display: flex;
}